$primary_c:#1B8077;
$secondary_c:#b5faf4;

// Small tablets and large smartphones (landscape view)
$screen-xs-min: 300px;

$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1400px;


body {
 
     background-color: $primary_c !important;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  


@mixin xs {
    @media only screen and (min-width: #{$screen-xs-min}) {
        @content;
    }
 }
@mixin sm {
    @media only screen and (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media only screen and (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media only screen and (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media only screen and (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 
// Custom devices
@mixin rwd($screen) {
  @media only screen and (min-width: ($screen + 'px')) {
      @content;
  }
}